@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center pb-5">
    <img src="~/images/apfelITlogo.png" class="img-fluid" />
</div>
<div class="d-flex justify-content-center">
    <div class="login-form">
        <form asp-action="Login" asp-controller="User"   method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" asp-for="Login">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" asp-for="Password">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Přihlásit</button>
            </div>
        </form>
    </div>
</div>
